/* Place your CSS styles in this file */

* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: "Monotype Corsiva", cursive;
    font-weight: bold;
}

img {
  width: 200px;
  height: auto;
}

.image {
  width: 120px;
  height: auto;
}

.container {
  display: grid;
  grid-template-columns: min-content auto min-content;
  background-color: rgb(235, 145, 10);
  padding: 10px;
}

.numbers-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 10px;
}

.numbers-container > div {
  background-color: yellow;
  border: 2px solid white;
  font-size: 40px;
  text-align: center;
  margin: 4px;
}

.enter {
  background-color: green;
  border: 2px solid white;
  font-size: 40px;
  text-align: center;
  margin: 4px;
}

.additional-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  padding: 10px;
  font-size: 80px;
  text-align: center;
}

.numbers {
  background-color: rgb(36, 196, 218);
  border: 2px solid white;
  font-size: 80px;
  text-align: center;
  margin: 4px;
}

.clear {
  background-color: yellow;
  border: 2px solid white;
  font-size: 40px;
  text-align: center;
  margin: 4px;
}

@media only screen and (max-width: 1024px) {
  h1 {
    background-color: rgb(36, 196, 218);
  }
  .image {
    width: 0px;
    height: auto;
  }
  img {
    width: 100px;
    height: auto;
  }
}